<br>
<div class="row">
  <div class="col-md-3">
    <img class="card-img-top" [src]="item.img" alt="Card image cap">
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">Price: {{item.price}}</p>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere eligendi quam quod facilis, rem iure...
        </p>

        <div>
          <label for="qty">Quantity: </label>&nbsp;
          <input id="qty" type="number" min="1" max="10" value="1">
        </div>

        <a href="#" class="btn btn-primary">Add-to-cart</a>
        &nbsp;
        <a href="#" class="btn btn-secondary">Checkout</a>
      </div>
    </div>
  </div>
</div>